<a href="https://colab.research.google.com/github/dataqueenpend/-Assignments_fsDS_OneNeuron/blob/main/Programming_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to convert kilometers to miles?

In [ ]:
def km_to_mil():
  km = int(input('Type in kilometers: '))
  miles = km * 0.6214

  print('{} kilometers is {} miles'.format(km, miles))

In [ ]:
km_to_mil()

Type in kilometers: 23
23 kilometers is 14.2922 miles

Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
def cel_to_fahr():
  cel = int(input('Type in temperature in Celsius: '))
  fahr = (cel*1.8) + 32

  print('{} Celsius is {} Fahrenheit'.format(cel, fahr))

In [ ]:
cel_to_fahr()

Type in temperature in Celsius: 23
23 Celsius is 73.4 Fahrenheit

Write a Python program to display calendar?

In [66]:
def display_calendar():
  import calendar

  yy = int(input('Type a year: '))
  mm = int(input('Type a month: '))

  print(calendar.month(yy,mm))

In [67]:
display_calendar()

Type a year: 1990
Type a month: 09
   September 1990
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

Write a Python program to solve quadratic equation?

In [64]:

def quad_solver():
  a = int(input('Type the value of a: '))
  b = int(input('Type the value of b: '))
  c = int(input('Type the value of c: '))
  import math

  result1 = (-b + math.sqrt(abs((b**2)- (4*a*c))))/(2*a)
  result2 = (-b - math.sqrt(abs((b**2)- (4*a*c))))/(2*a)

  print('Result to quadratic equations is {} or {}'.format(result1, result2))

In [65]:
quad_solver()

Type the value of a: 2
Type the value of b: 3
Type the value of c: 4
Result to quadratic equations is 0.4489578808281798 or -1.9489578808281798

Write a Python program to swap two variables without temp variable?

In [68]:
def swapper(x,y):
  y,x = x,y
  return (x,y)

In [69]:
x = 1
y = 3

In [71]:
swapper(x,y)

(3, 1)