<a href="https://colab.research.google.com/github/dataqueenpend/-Assignments_fsDS_OneNeuron/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to Find the Factorial of a Number?

In [1]:
def find_factorial():
  num = int(input('Type a number: '))
  result = 1
  for i in range(num):
    result *= (i+1)
  return result

In [2]:
find_factorial()

Type a number: 2

2

2. Write a Python Program to Display the multiplication Table?

In [3]:
def multi_table():
  for i in range(1,12):
    print('\r')
    for j in range(1, 11):
      print(repr(i*j).rjust(4), end=' ')
  for i in range(1, 11):
      print('\r', end=' ')

In [4]:
multi_table()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

3. Write a Python Program to Print the Fibonacci sequence?

In [5]:
def fibon_seq():
  num = int(input('Type number of elements in Fibonnacci sequence: '))
  l = [1]
  for i in range(num):
    result = l[i] + l[i-1]
    l.append(result)
  return l

In [6]:
fibon_seq()

Type number of elements in Fibonnacci sequence: 3

[1, 2, 3, 5]

4. Write a Python Program to Check Armstrong Number?

In [7]:
def check_if_armstrong():
  num = input('Type a number to check if it\'s an Armstrong Number: ')
  lst = [i for i in num]
  sqrt = [int(i)**len(lst) for i in lst]
  sm = sum(sqrt)
  if sm == int(num):
    return True
  else:
    return False

In [8]:
check_if_armstrong()

Type a number to check if it's an Armstrong Number: 3

True

5. Write a Python Program to Find Armstrong Number in an Interval?
?

In [34]:
def armstrong_in_interval(x,y):
  range = range(x,y)
  for i in range:
    for j in range(i):
      #sqrt = []
      sqrt = [int(j)**len(str(i)) for j in i]
      #sqrt.append(list((j))**len(list(i)))
      sm = sum(sqrt)
      if sm == int(i):
        yield i

In [20]:
x = range(0,10)

In [32]:
lst_nums = []
for i in x:
  lst_nums.append(i)

for i in lst_nums:
  sqrt = [int(i)**len(str(i)) for 
  sm = sum(sqrt)

TypeError: ignored

In [35]:
armstrong_in_interval(0,10)

In [36]:
for i in armstrong_in_interval(0,10):
  print(i)

UnboundLocalError: ignored

In [ ]:
lst = lst.append(1)

6. Write a Python Program to Find the Sum of Natural Numbers

In [15]:
def add_natural_num(*args):
  for i in args:
    if i >= 0 and type(i) == int:
      result = sum(args)
    else:
      raise Exception('{} is not a natural number.\n Try again and type integer which is bigger than 0.'.format(i))
  return result

In [16]:
add_natural_num(2,3)

5